.background-container {
  position: relative;
  background-image: url('../images/1351868.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Altura mínima para cobrir toda a tela */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Fundo escurecido para melhorar contraste */
  z-index: -1;
}
